<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-sm">
      <div class="card-body px-md-5 py-5">
        <div class="text-center mb-5">
          <h3>Resend unlock instructions</h3>
        </div>
        <span class="clearfix"></span>
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { class: 'row g-3', method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="col-12">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
          </div>

          <div class="col-12">
            <div class="d-grid gap-2">
              <button name="button"
                      type="submit"
                      class="btn btn-success"
                      data-disable-with="<i class='fas fa-spinner fa-spin'></i> Resending instructions...">
                Resend unlock instructions
              </button>
            </div>
          </div>
        <% end %>
        <div class="text-center mt-3">
          <small>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'fw-bold' %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
