<div class="row">
  <div class="col-xl-12">
    <div class="card shadow-sm">
      <div class="card-body">
        <%= link_to edit_user_path(@user), class: 'default-card' do %>
          <header>
            <h1 class="text-center">
              <%= @user.name %>
              <p class="lead text-center"><%= @user.email %></p>
              <small class="lead text-center"><%= @user.role %></small>
            </h1>
          </header>
        <% end %>
      </div>
    </div>
  </div>
</div>
